.content{
    display: flex;
    margin-left: 20em;
    margin-right: 4em;
    margin-top: 1em;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .content {
        display: flex;
        justify-content: center;
        margin-left: 0em;
        margin-top: 1em;
        z-index: -2;
    }
  }
  

